
/* body {
    font-size: 15px;
    font-family: sans-serif;
    background-color: white
    min-width: 320px;
    margin: 0;
    display: flex;
}
div {
    display: block;
} */

html, body {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: 50px 1fr repeat(4, 100px) 1fr repeat(4, 100px) 1fr 400px;
  grid-template-columns: 100%;
  grid-template-areas: 
                      "header"
                      "main1"
                       "smallImg11"
                       "smallImg12"
                       "smallImg13"
                       "smallImg14"
                       "main2"
                       "smallImg21"
                       "smallImg22"
                       "smallImg23"
                       "smallImg24"
                       "main3"
                       "footer";
}
header {
  grid-area: header;
  background-color: lightgray;
}
/* #left {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
} */



img {
  max-width: 100%;
  min-width: 100%;
}
div {
  background-color: lightgray;
  /* display: flex;
  justify-content: space-around; */
}

#smallImg11 {
  grid-area: smallImg11;
  
}
#smallImg12 {
  grid-area: smallImg12;
  
}
#smallImg13 {
  grid-area: smallImg13;
  
}
#smallImg14 {
  grid-area: smallImg14;
  
}

#smallImg21 {
  grid-area: smallImg21;
}
#smallImg22 {
  grid-area: smallImg22;
}
#smallImg23 {
  grid-area: smallImg23;
}
#smallImg24 {
  grid-area: smallImg24;
}

#main1 {
  grid-area: main1;
  /* display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: stretch; */
}
#main2 {
  grid-area: main2;
  /* display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: stretch; */
}
#main3 {
  grid-area: main3;
  /* display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: stretch; */
}
footer {
  grid-area: footer;
  background-color: lightgray;
}
@media screen and (min-width: 800px) {
  body {
    grid-template-rows: 50px 1fr repeat(2, 100px) 1fr repeat(2, 100px) 1fr 400px; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "main1 main1"
      "smallImg11 smallImg12"
      "smallImg13 smallImg14"
      "main2 main2"
      "smallImg21 smallImg22"
      "smallImg23 smallImg24"
      "main3 main3"
      "footer footer";

  }
}

@media screen and (min-width: 1100px) {
  body {
    grid-template-rows: 50px 1fr 100px 1fr 100px 1fr 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "main1 main1 main1 main1"
      "smallImg11 smallImg12 smallImg13 smallImg14"
      "main2 main2 main2 main2"
      "smallImg21 smallImg22 smallImg23 smallImg24"
      "main3 main3 main3 main3"
      "footer footer footer footer";
  }
}